body {
	margin: 0px;
}

#calculator {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#display {
	background-color: rgb(202, 202, 202);
	font-size: 25px;
	align-self: center;
	display: flex;
	flex-direction: column;
}

#displayInput {
	display: flex;
	flex-direction: row;
}

#displayNumber {
	width: 370px;
	height: 50px;
	text-align: right;
}

#displayOperator {
	width: 30px;
	height: 50px;
	text-align: right;
}

#displayResult {
	height: 50px;
	text-align: right;
}

button{
	height: 75px;
	width: 75px;
}

#buttons {
	align-self: center;
	display: flex;
	justify-content: center;
	width: 400px;
}

#digits {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
}

